@import url('https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background: #3C3B3F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1{
    font-family: Montserrat black, sans-serif;
}


h2, h3{
    font-family: Montserrat extrabold, sans-serif;
}

h4 {
    font-family: Montserrat semibold, sans-serif;
}

p{
    font-family: Montserrat, sans-serif;
    font-size: small;
}

.btn-a {
    text-decoration: none !important;
    color:#fff;
}

/* NAV BAR */

.logo {
    font-family: Montserrat black, sans-serif;
    color: whitesmoke;
}

li {
    list-style: none; 
    font-family: Montserrat extrabold, sans-serif;
    color: whitesmoke;
}

a {
    text-decoration: none !important;
    color: whitesmoke;
    font-size: 1rem;
}

a:hover {
    color: orangered;
}

/* -----Header----- */
header {
    position: relative;
    padding: 0 2rem;
}


/* NAVBAR */

.navbar {
    width: 100%;
    height: 60px;
    position: fixed; /* Hace que la barra de navegaci贸n sea fija */
    top: 0; /* La fija en la parte superior */
    left: 0; /* Alinea a la izquierda */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(48, 48, 48, 0.2);
    backdrop-filter: blur(15px);
    z-index: 999;   
}

.navbar .logo a{
    font-size: 1.5rem;
    padding-left: 20px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    
}

.action_btn {
    text-decoration: none !important;
    font-family: Montserrat extrabold, sans-serif;
    color:#fff;
    font-size: 0.9rem;    
}

.navbar .toggle_btn {
    color: #363636;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;

}

.btn-log {
    transition: scale 0.2 ease;
    margin-right: 15px;
}

.btn-log_in{
    transition: scale 0.2 ease;
    margin-right: 20px;
}

.btn-log:hover {
    scale: 1.05;

}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(48, 48, 48, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}

.dropdown_menu.open {
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.dropdown_menu .action_btn {
    width: 100px;
    display: flex;
    justify-content: center;

}


/* -----RESPONSIVE----- */
@media(max-width: 992px){
    .navbar .links,
    .navbar .btn-log{
        display: none;
    }
    .navbar {
        background-color: rgba(48, 48, 48, 0);
        backdrop-filter: none;
        position: relative;
    }

    .navbar .toggle_btn{
        display: block;
        color: #363636;
        font-size: 1.5rem;
        cursor: pointer;
        
    }

    .dropdown_menu {
        display: block;
    }
    .dropdown_menu li {     
        color: white;
    }
}

@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset; 
    }

    .dropdown_menu li {     
        color: white;
    }

    .navbar {
        background-color: rgba(48, 48, 48, 0);
        backdrop-filter: none;
        position: relative;
    }
}

/* END NAVBAR */

.title{
    margin-top: 100px;
}



/* SECCIN INDIVIDUAL DE USUARIOS */

.img-fluid {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
    height: 440px;
    width: 300px;
}

.img-fluid:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1000px){
    .img-fluid {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
    }
    
    .img-fluid:hover {
        filter: grayscale(0%);
    }
}

@media screen and (max-width: 480px){
    .img-fluid {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
    }
    
    .img-fluid:hover {
        filter: grayscale(0%);
    }
}

.title-usuario{
    /* justify-content: center; */
    padding-bottom: 20px;
    font-family: Montserrat black, sans-serif;
}



.btn-user{
    font-family: Montserrat extrabold, sans-serif;
    font-size:small;
    text-transform: uppercase;
    border-radius: 4px;
    padding-top: 40px;   
    text-decoration: none;  
    display: flex;
    justify-content: space-between; 
    
}

.user-btn{
    padding-top: 10px;
}


  /* Estilo para las im谩genes en blanco y negro */
  .swiper-slide img {
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
      
  }

  /* Detener la animaci贸n cuando se pasa el cursor sobre una imagen */
.swiper-container:hover .swiper-wrapper {
    animation-play-state: paused;
}

/* Reanudar la animaci贸n cuando se retira el cursor de una imagen */
.swiper-container:not(:hover) .swiper-wrapper {
    animation-play-state: running;
}

  /* Cambia la imagen a color cuando se hace hover */
  .swiper-slide img:hover {
      filter: grayscale(0%);
  }
  
  @media (max-width: 768px){
      .swiper-slide img {
          filter: grayscale(100%);
          transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
      }
      
      /* Cambia la imagen a color cuando se hace hover */
      .swiper-slide img:hover {
          filter: grayscale(0%);
      }
  }  

  /* Estilos para la versi贸n m贸vil */
  @media (max-width: 768px) {
      /* Oculta el texto y muestra solo el bot贸n */
      /* .swiper-slide .content-gallery .title-materials,
      .swiper-slide .content-gallery .p谩rrafo-materials {
          display: none;
      } */
      /* Ajusta el tama帽o de la imagen y el bot贸n */
      .swiper-slide img {
          width: 80%;
          height: auto;
      }
      .swiper-slide {
          flex: 0 0 50%; /* Reduce el ancho del carrusel en dispositivos m贸viles */
      }
      
      @keyframes slide {
          0% {
              transform: translateX(0%);
          }
          100% {
              transform: translateX(-550%);
          }
      }

       /* Detener la animaci贸n cuando se pasa el cursor sobre una imagen */
    .swiper-container:hover .swiper-wrapper {
        animation-play-state: paused;
    }

    /* Reanudar la animaci贸n cuando se retira el cursor de una imagen */
    .swiper-container:not(:hover) .swiper-wrapper {
        animation-play-state: running;
    }

  }

  @media (max-width: 768px) {
    .p-slide {
        display: none;
    }
    
    .img-slide {
        width: 100%;
    }
}
  
/* BOTN BACK TO TOP */

/* Estilos para el contenedor del bot贸n Back to Top */
#backToTopContainer {
    position: fixed;
    z-index: 1000;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    z-index: 9999; /* Aumentado el valor del z-index */
    right: 23px;
    width: 50px;
    height: 50px;
    background-color: rgba(169, 169, 169, 0.5);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#backToTopBtn.show {
    display: block; 
}

#backToTopBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Ajuste para la versi贸n m贸vil */
@media (max-width: 768px) {
    #backToTopBtn {             
        right: 600px; /* Alinear con las listas en la parte superior */
    }
}


/* FOOTER */


footer{
    background: rgba(52, 52, 52);
    padding-top: 50px;
    z-index: 999;
}
.container-footer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    /* width: 33.3%; */
    width: 100%; /* Cambia el ancho al 100% en la versi贸n m贸vil */
    margin-bottom: 20px; /* Agrega espacio entre las secciones del footer */
}



h3{
    font-family: Montserrat black, sans-serif;
    font-size:x-large;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}

.p-footer {
    font-family: Montserrat, sans-serif !important;
    font-weight:bold;
    font-size:small;    
}

.list-footer{
    padding: 0;
}
.list-footer li{
    width: auto;
    text-align: center;
    list-style-type:none;
    color: rgba(0, 0, 0, 0.4) !important;
    padding: 7px;
    position: relative;
    font-family: Montserrat extrabold, sans-serif;
    font-size:small;
}


.list-footer li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
    
}
.list-footer li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 25px;
}

.text-footer{
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 25px;
}

.social-icons i:hover{
    color: #f18930;
}

.fab.fa-twitter{
	font-family:sans-serif;
}
.fab.fa-twitter::before{
	content:"";
	font-size:1.2em;
}

.fa-brands--tiktok {
    color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    display: inline-block;
    width: 0.88em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000' d='M448 209.91a210.06 210.06 0 0 1-122.77-39.25v178.72A162.55 162.55 0 1 1 185 188.31v89.89a74.62 74.62 0 1 0 52.23 71.18V0h88a121.18 121.18 0 0 0 1.86 22.17A122.18 122.18 0 0 0 381 102.39a121.43 121.43 0 0 0 67 20.14Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fa-brands--tiktok:hover{
    color: #f18930;
}

.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    font-family: Montserrat, sans-serif !important;
    font-weight:bold;
    font-size:small;
}


/* Ajuste para la versi贸n m贸vil */
@media (max-width: 768px) {
    .container-footer {
        margin-right: 0px;
        padding-top: 50px;        
        flex-direction: column;
        align-items: center;        
    }

    .footer-content {
        width: 50%;
        text-align: center;
        margin-bottom: 20px; /* Espacio entre las listas */
    }

    .list-footer li {
        text-align: center;
    }

    .social-icons {
        /* display: flex; */
        justify-content: center;
    }

    .social-icons li {
        margin-right: 10px; /* Espacio entre los iconos sociales */
    }

    .bottom-bar {
        text-align: center;
    }
}


/* END FOOTER */

/* PERFIL FACCION ZOMBIE */
.img-user{
    width: 128px;
    height: 128px; 
    background-position: center;
    background-size: cover;
    text-align: left;
    margin: 0 auto;    
    /* border-radius: 20px; */
    /* border-radius: 10px; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 5px 5px rgba(0, 0, 0, 0.15);
    transition: .4s;
}

.img-user {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
}

/* Cambia la imagen a color cuando se hace hover */
.img-user:hover {
    filter: grayscale(0%);
}

@media only screen and (max-width: 768px) {
    .texto-desktop {
        display: none;
    }
}

.user-img{
    margin-top: 80px;
}

.faccion-btn{
    padding-top: 10px;
}
 

.p-facc {
    font-family: Montserrat, sans-serif !important;
    font-weight:bold;
    font-size:small;
    color: #fff;    
}